$break-small: 320px;
$break-large: 992px;
$break-extralarge:1201px;


// body {
//   @extend .blue, .lighten-2;
// }


/* DMR-START: Para el STICKY FOOTER !!! */
// body {
//     display: flex;
//     min-height: 100vh;
//     flex-direction: column;
//   }

//  #main {
//     flex: 1 0 auto;
//   }
/* DMR-END: Para el STICKY FOOTER !!! */

/*********** ..dddMAP *************/

main {
  min-height:1500px;
}
#map {
  // min-height:80vh;
  // min-height:130vh;
  min-height:1500px;
  // height:100%;
  width:100%
}

#messages {
  div {
    font-size: 80%;
  }
  .chat-user {
    color: green;
  }
  .chat-user-me {
    color: red;
  }
}

.gm-style {
  min-height:1500px;
}

/************ RESPONSIVE  ********/
header, main, footer {padding-left:0}
@media  screen and (min-width: $break-large) {
  header, main, footer{padding-left:200px}
}
@media  screen and (min-width: $break-extralarge) {
  header, main, footer{padding-left:120px}
}
// @media  screen and (max-width: $break-large) {
    
//   }
// @media (min-height: 40.125em) {

  


