.container
  div#nav-mobile.side-nav.fixed
    .row(style="margin:5px")
      h5.header.center Where are We 
            
      .card.light-blue.darken-3
        .card-content.black-text.center
          //- .row-fluid(style="margin:5px")
          form(method='post',onsubmit="return addMessage(this)",autocomplete="off")
              input(type="hidden",name="roomid",id="roomid",value="#{roomid}",autocomplete="off")
              input(type="hidden",name="nickname",id="nickname",value="#{nickname}",autocomplete="off")
              input.input-field(type="text",name="texto",id="texto",placeholder="Chat..",autocomplete="off")

              button.btn.waves-effect.waves-light(type="submit") 
                i.material-icons send
          
     
    .chat(name="messages", id="messages",style='margin:10px')


  
 
