#sidedrawer.mui--no-user-select
  #sidedrawer-brand.mui--appbar-line-height.mui--text-title WaW (#{roomid})
  .mui-divider
  .row-fluid
   .mui-divider

    .row-fluid(style="margin:5px")
      form(method='post',onsubmit="return addMessage(this)")
        input(type="hidden",name="roomid",id="roomid",value="#{roomid}")
        input(type="hidden",name="nickname",id="nickname",value="#{nickname}")
        .mui-textfield
            input(type="text",name="texto",id="texto",placeholder="Chat..")

        button.mui-btn.mui-btn--raised(type="submit") Enviar!
        

    .container(style='margin:10px')
      if nickname 
        a(href="/logout") Logout

      hr
      .chat(name="messages", id="messages")

 
