extends layout/login
block content
  .row(style="margin-top:10%")
    .col.s12.m6
      .card.blue.darken-1
        .card-content.white-text
          form(name="form_entrada", method="post", action="login")
              legend Where Are We
              input.input-field(type="text",name="nickname",placeholder="#{nickname}")

              br
              input.input-field(type="text",name="roomid",placeholder="#{roomid}")

              br
              
              button.btn.waves-effect.waves-light(type="submit") #{fraseboton}