extends layout/login
  

block content

  //- script.
  //-     function capitalize(s) { return "pp"+s };

  h5 Logs
  ul
  each log in logs
      li <b>#{log.room}</b> [#{(log.nickname)}] #{log.description} (#{log.fecha})

  