#sidedrawer.mui--no-user-select
  #sidedrawer-brand.mui--appbar-line-height.mui--text-title TEXTO
  .mui-divider
  .row-fluid
    .container
      p nickname
      input(type="text",name="nickname",placeholder="#{nickname}")

      br 

      p Room ID
      input(type="text",name="room",placeholder="#{roomid}")

      br

      p Chat
      tetarea(name="chat")
