/* DMR-START: Para el STICKY FOOTER !!! */
/* DMR-END: Para el STICKY FOOTER !!! */
/*********** ..dddMAP *************/
#map {
  min-height: 80vh;
  width: 100%; }

#messages div {
  font-size: 80%; }

#messages .chat-user {
  color: green; }

#messages .chat-user-me {
  color: red; }

/************ RESPONSIVE  ********/
header, main, footer {
  padding-left: 0; }

@media screen and (min-width: 992px) {
  header, main, footer {
    padding-left: 200px; } }

@media screen and (min-width: 1201px) {
  header, main, footer {
    padding-left: 120px; } }


#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  right:7%;
}