.container
  div#nav-mobile.side-nav.fixed
    .row.center(style="margin:5px")
        h5.header.center Where are We
        <br><b>#{nickname}</b>&nbsp;&nbsp;(<b>#{roomid}</b>)
        
        .search
            .search-wrapper.card(style="padding:5px")
                input#texto(type="search",name="texto",placeholder="Chat..",autocomplete="off",style="border:0px")
            


        .card.light-blue.darken-3
          .card-content.black-text.center
            //- .row-fluid(style="margin:5px")
            form(method='post',onsubmit="return addMessage(this)",autocomplete="off",style="display:inline")
                input(type="hidden",name="roomid",id="roomid",value="#{roomid}",autocomplete="off")
                input(type="hidden",name="nickname",id="nickname",value="#{nickname}",autocomplete="off")
                input.input-field(type="text",name="texto",id="texto",placeholder="Chat..",autocomplete="off",style="display:inline")

                button.btn.waves-effect.waves-light(type="submit",style="display:inline") 
                  i.material-icons send
          
    #usuarios(style='margin:10px')
    hr
    #messages.chat(name="messages",style='margin:10px')


  
 
