doctype html
html(lang="en")
  head
    title= title

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // if lt IE 9
      script(src="http://html5shim.googlecode.com/svn/trunk/html5.js")

  block css
    link(rel='stylesheet', href='//fonts.googleapis.com/icon?family=Material+Icons')
    link(rel='stylesheet', href='/bower_components/materialize/dist/css/materialize.min.css')
    link(rel='stylesheet', href='/stylesheets/project.css')

 block top-scripts
    script(src='//maps.googleapis.com/maps/api/js?key=#{key_googlemaps}', asyn, defer)
    script(src='/socket.io/socket.io.js')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/materialize/dist/js/materialize.min.js')

  body(onload="init()")
    
    header
      include ../partials/sidenav.jade

    main
      include ../partials/top.jade
      block content

    footer
        include ../partials/footer.jade
script
  include ../../public/javascripts/init.js
  include ../../public/javascripts/map.js
  include ../../public/javascripts/websockets.js

     
